<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<nav>
    <a th:href="@{/logout}">Se déconnecter</a>
    <a th:href="@{/}">Accueil</a>
    <a th:href="@{/messages}">Tous les messages</a>
</nav>

<h1>Liste des messages</h1>

<div th:if="${messages.isEmpty()}">
    Aucun message à afficher.
</div>

<div th:if="${!messages.isEmpty()}">
    <div th:each="m : ${messages}">
        <div th:text="${m.getUser().getUsername()}"/>
        <div th:text="${m.getTime()}"/>
        <div th:text="${m.getContent()}"/>
    </div>
</div>
</body>
</html>